<!-- Top Bar -->
<section id="top-bar" class="top-bar p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> 07778889993
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> codingproject587@gmail.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://twitter.com/?lang=en">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://en-gb.facebook.com/">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://uk.linkedin.com/">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
