 .booking {


    &-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        
        

        &__roles {
            display: flex;
            flex-direction: column;
            position: relative;
            

            &-name{ 
                &__1 {
                    position: absolute;
                    margin-left: 48rem;
                    margin-top: 3rem;
                    text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 400;
                }

        
                
                  
            }

            &-membership {
                position: relative;
                margin-left: 41rem;
                margin-top: 7rem;
                width: 20%;
                margin-bottom: 1.5rem;
                padding: .5rem;
                border: 2px black solid;
               
            }
        }
    

        &__dates {
            display: flex;
            flex-direction: column;

            &-name{ 
                
                &__2 {
                    position: absolute;
                    
                    margin-left: 44rem;
                    text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 400;
                } 
            }

            &-date {
                margin-top: 5rem;
                position: relative;
                margin-left: 41rem;
                
                width: 20%;
                margin-bottom: 1.5rem;
                padding: .5rem;

                border: 2px black solid;
            }

            &__btn {
                margin-top: 2rem;
                margin-left: 36rem;
                width: 30%;

                text-transform: uppercase;
                text-decoration: none;

                animation: moveInBottom .5s ease-out;
                animation-delay: .2s;
                animation-fill-mode: backwards;

                background-color: $color-grey-dark-2;
                color: $color-white;
               
                display: inline-block;
                border-radius: 100px;  /* Shape of the button */
                transition: all .2s; /* animate */
                position: relative;
                padding: 10px 60px;

                
                border: none;
                cursor: pointer;

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 5px 10px rgba($color-black,.2) ;  /* 0=x 5=y 10=blur   .2=20%opacity */
            
                    &::after {
                        transform: scaleX(1.4) scaleY(1.6);
                        opacity: 0;
                    }
                }

                &:active, /* Once clicked */
                &:focus {  
                    outline: none;
                    transform: translateY(-1px);
                    box-shadow: 0 .5rem 1rem  rgba($color-black,.2);
                }
                
                
                
                
            }
        }
    
    }
    
    

    

 }