$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #404040;

$color-grey-dark: #282828;
$color-grey-dark-2: #181818;
$color-grey-dark-3: #121212;

$color-white: #fff;
$color-black: #000;

$color-dark-red: #801010;
$color-light-red: #d62020; 

$color-secondary-light: #ffb900;
$color-secondary-dark: #ffb773;
